COPIAR ESTO AL PRINCIPIO DE HTACCESS DE LA RAIZ DEL PS



# ======== 🚀 NUESTRAS RUTAS API - LIMPIO ========
RewriteRule ^api/v1/(.*)$ index.php?fc=module&module=myapi&controller=apigateway&route=$1 [QSA,L]
# ======== FIN DE NUESTRAS RUTAS API ========